# Ignore sensitive JSON files
credentials.json
token.json
code.json
.env
# Ignore node_modules folder
node_modules/
*.pdf
presentation.json
outline.json
video.md
logo_cache.json
Presentation/media/images/code_snippets/
Presentation/media/json/outline_cache_*.json
Presentation/media/json/presentation_cache_*.json
Presentation/media/json/last_topic.txt
