# Ignore sensitive JSON files
credentials.json
token.json
code.json
.env
# Ignore node_modules folder
node_modules/
*.pdf
presentation.json
outline.json
video.md
logo_cache.json
Presentation/media/images/code_snippets/
